In [23]:
import pandas as pd

In [24]:
cols=['education', 'age', 'capital-gain', 'race', 'capital-loss', 'hours-per-week', 'sex', 'classification']
df=pd.read_csv('../DAT210x/Module2/Datasets/census.data', names=cols)

In [26]:
df.head()
df.dtypes

education         object
age                int64
capital-gain      object
race              object
capital-loss       int64
hours-per-week     int64
sex               object
classification    object
dtype: object

In [29]:
df['capital-gain']=pd.to_numeric(df['capital-gain'],errors='coerce')

In [31]:
df.dtypes

education          object
age                 int64
capital-gain      float64
race               object
capital-loss        int64
hours-per-week      int64
sex                object
classification     object
dtype: object

In [51]:
edu=list(df['education'].unique())

In [53]:
edusort=['Preschool', '1st-4th', '5th-6th', '7th-8th', '9th', '10th', '11th', '12th', 'HS-grad', 'Some-college',
        'Bachelors', 'Masters', 'Doctorate',]

In [63]:
df['education']=df['education'].astype('category', ordered=True, categories=edusort).cat.codes

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: specifying 'categories' or 'ordered' in .astype() is deprecated; pass a CategoricalDtype instead
  """Entry point for launching an IPython kernel.

In [66]:
clas=list(df['classification'].unique())

In [69]:
df['classification']=df['classification'].astype('category', ordered=True, categories=clas).cat.codes

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: specifying 'categories' or 'ordered' in .astype() is deprecated; pass a CategoricalDtype instead
  """Entry point for launching an IPython kernel.

In [73]:
df=pd.get_dummies(df,columns=['race', 'sex'])

In [75]:
df.columns

Index(['education', 'age', 'capital-gain', 'capital-loss', 'hours-per-week',
       'classification', 'race_Amer-Indian-Eskimo', 'race_Asian-Pac-Islander',
       'race_Black', 'race_Other', 'race_White', 'sex_Female', 'sex_Male'],
      dtype='object')

In [77]:
df.loc[0:4,['education', 'age']]

   education  age
0         10   39
1         10   50
2          8   38
3          6   53
4         10   28