In [1]:
import pandas as pd

In [13]:
cols=['motor', 'screw', 'pgain', 'vgain', 'class']
df=pd.read_csv('../DAT210x/Module2/Datasets/servo.data', names=cols)

In [14]:
df.head()

  motor screw  pgain  vgain     class
0     E     E      5      4  0.281251
1     B     D      6      5  0.506252
2     D     D      4      3  0.356251
3     B     A      3      2  5.500033
4     D     B      6      5  0.356251

In [19]:
df[df.vgain==5].count()

motor    22
screw    22
pgain    22
vgain    22
class    22
dtype: int64

In [27]:
sc=df[df.screw=="E"]
sc[sc.motor=="E"]

    motor screw  pgain  vgain     class
0       E     E      5      4  0.281251
35      E     E      3      2  1.100000
86      E     E      4      3  0.843755
132     E     E      6      5  0.281251
140     E     E      4      2  0.506252
151     E     E      3      1  0.700001

In [35]:
df[df.pgain==4].mean()

pgain    4.000000
vgain    2.060606
class    0.673298
dtype: float64

In [34]:
d.mean()

pgain    4.000000
vgain    2.060606
class    0.673298
dtype: float64